<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Informe Diario de Ventas</title>
</head>
<body>
  <h1>Informe Diario de Ventas</h1>
  <p>Informe de ventas del dia de ayer, si tiene alguna pregunta o necesita más información, no dude en ponerse en contacto.</p>
  <p>Saludos</p>
  <p>Nota: este reporte ha sido generado de forma automatica</p>

</body>
</html>
